@model CMS.Domain.Models.Posts

@{
//ViewBag.Title = "Методика";

//Layout = "~/Views/Blog/_layoutblog.cshtml";
}

<div id="content">
   
    <div class="post">
        <div class="post-meta">
            <div class="row">
                <div class="post-title">
                    <h1>@Html.Raw(Model.Title)</h1>
                    @Html.Action("PhotoBar")
                </div>

            </div>
            <div class="row">
              
                <div class="posted-date">
                    @Html.Raw("Опубликовано " + Model.CreatedOn)
                </div>
            </div>
        </div>
        <div class="post-body">
           
            @Html.Raw(Model.Body)

        </div>


    </div>

</div>


