﻿@{
    ViewBag.Title = "Русскоязычный гид во Вьетнаме'Гид в Хошимине (Сайгон)";
    ViewBag.Meta = "Экскурсии во Вьетнаме; Гид во Вьетнаме;Русскоязычный гид во Вьетнаме'Гид в Хошимине (Сайгон);Трансфер из аэропорта ";
}

<div id="content">
    <h2>Добро пожаловать во Вьетнам!</h2>
    <p>
        <a href="https://www.gidvietnam.ru/Blog/Post?year=2018&month=10&title=vietnam">Вьетнам</a> – это страна со своей древней историей, культурой, традициями, достижениями. И
        людям , путешествующим по нашей Родине, хочется окунуться в нашу культуру, познакомиться с
        традициями, узнать историю Вьетнама.
    </p>

    <p>
        Стандартная турпоездка дает очень мало возможности для ознакомления с Вьетнамом. А к этому
        еще добавляется языковой барьер – что ограничивает возможность общения с местными
        жителями. К тому же в турпутевке время всегда жестко ограничено, экскурсионные поездки
        собираются для большой группы людей, где экскурсовод просто физически не может уделить
        внимание каждому туристу.
    </p>
    <p>
        <a href="https://www.gidvietnam.ru/Home/Contact">Я, русскоговорящий гид во Вьетнаме. Мое полное имя Динь чонг Хай. Можно просто Хай.</a> Приглашаю Вас совершить индивидуальное путешествие по
        сердцу Юго-Восточной Азии – Вьетнаму. Это будет путешествие составленное по вашим
        желаниям, с учетом ваших интересов, в сопровождении коренного жителя Вьетнама, говорящего
        на русском языке. Такая поездка даст Вам прекрасную возможность познакомиться с настоящим
        Вьетнамом, с нашей историей, культурой, традициями и ценностями.
    </p>
    <h2>Чем я могу помочь</h2>

    <h3><u><a href="https://www.gidvietnam.ru/Blog/Post?year=2018&month=11&title=_visa">Помощь в оформлении визы:</a></u></h3>

    <li>предоставление списка необходимых документов;</li>

    <li>заполнение анкеты на вьетнамском языке;</li>

    <li>помощь в получении Approval  Letter  (письмо – подтверждение) от Иммиграционного департамента во Вьетнаме;</li>

    <li>помощь в продлении визы;</li>

    <h3><u><a href="https://www.gidvietnam.ru/Uslugi/Services">Проведение экскурсий:</a></u></h3>

    <li>экскурсии по Хошимину;</li>

    <li>экскурсии по Ханою;</li>

    <li>экскурсии с выездом из Хошимина;</li>

    <li>экскурсии в Далат;</li>

    <h3><u><a href="https://www.gidvietnam.ru/Home/Contact">Организация проживания в г. ХОШИМИН:</a></u></h3>

    <li>помощь в подборе места проживания и организация проживания в Хошимине и его окресностях;</li>

    <li>бронирование места проживания;</li>

    <li>помощь при заселении;</li>

    <h3><u><a href="https://www.gidvietnam.ru/Home/Contact">Трансфер:</a></u></h3>

    <li>встреча в аэропорту в г. Хошимин, сопровождение до места проживания;</li>

    <li>трансфер в аэропорт;</li>

    <li>трансфер из Хошимина в  города Вьетнама (Муйне, Нячанг и др.);</li>

    <li>трансфер по г. Хошимин;</li>

    <h3><u><a href="https://www.gidvietnam.ru/Home/Contact">Бронирование билетов:</a></u></h3>

    <li>заказ и бронирование билетов на самолет, поезд, автобус;</li>

    <h3><u><a href="https://www.gidvietnam.ru/Home/Contact">Услуги переводчика:</a></u></h3>

    <li>помощь в переводе  документов;</li>

    <li>сопровождение в качестве переводчика во Вьетнаме;</li>

    <h3><u><a href="https://www.gidvietnam.ru/Home/Contact">Организация шопинга:</a></u></h3>

    <li>помощь в покупке сувениров;</li>

    <li>посещение «нетуристических» мест;</li>

    <li>знакомство с товарами народной медицины, вьетнамской фармацевтики;</li>


</div>